$roboto-thin                                                    : 200;
$roboto-light                                                   : 300;
$roboto-regular                                                 : 400;
$roboto-medium                                                  : 500;
$roboto-bold                                                    : 700;

// slide panels
$slidepanel-background-color                                    : color('grey', 'lighten-3');
$slidepanel-fade-background-color                               : color('g-deep-blue', 'base');
$slidepanel-fade-opacity                                        : 0.7;
$slidepanel-topbar-height                                       : 30px;
$slidepanel-topbar-line-height                                  : $slidepanel-topbar-height;
$slidepanel-topbar-background-color                             : color('g-deep-blue', 'base');
$slidepanel-topbar-text-color                                   : color('shades', 'white');
$slidepanel-topbar-padding-left                                 : 45px;
$slidepanel-topbar-font-size                                    : 12px;
$slidepanel-topbar-font-weight                                  : $roboto-medium;
$slidepanel-full-size                                           : 100%;
$slidepanel-full-left                                           : 0;
$slidepanel-medium-size                                         : percentage(2/3);
$slidepanel-medium-left                                         : percentage(1/3);
$slidepanel-small-size                                          : percentage(1/3);
$slidepanel-small-left                                          : percentage(2/3);
$slidepanel-close-background-color                              : color('g-deep-blue', 'lighten-2');
$slidepanel-close-hover-background-color                        : color('g-deep-blue', 'lighten-4');
$slidepanel-bottom-buttons-height                               : 54px;

// empty
$empty-icon-size                                                : 10rem;
$empty-text-size                                                : 2rem;
$empty-text-transform                                           : uppercase;
$empty-text-color                                               : color('blue-grey', 'darken-3');

// parsley
$parsley-color                                                  : color('red', 'base');

// modal
$modal-small-padding                                            : 15px;
$modal-title-font-size                                          : 22px;
$modal-title-font-color                                         : color('g-grey', 'darken-1');
$modal-title-font-weight                                        : $roboto-thin;
$modal-content-font-size                                        : 12px;
$modal-content-font-weight                                      : $roboto-regular;
$modal-content-font-color                                       : color('g-deep-blue', 'base');
$modal-overlay-color                                            : color('g-deep-blue', 'base');
$modal-overlay-opacity                                          : 0.7;
$modal-alert-text-color                                         : color('g-grey', 'base');
$modal-alert-icon-size                                          : 110px;


$btn-control-bar-height                                         : $slidepanel-bottom-buttons-height;
$btn-control-font-weight                                        : $roboto-light;
$btn-control-font-size                                          : 14px;

$colors-control-base-level                                      : 'lighten-1';
$colors-control-hover-level                                     : 'base';

$form-fieldset-background-color                                 : color('shades', 'white');
$form-fieldset-font-size                                        : 12px;
$form-fieldset-font-weight                                      : $roboto-regular;
$form-fieldset-font-color                                       : color('g-deep-blue', 'base');
$form-legend-font-size                                          : 12px;
$form-legend-font-weight                                        : $roboto-medium;
$form-legend-font-color                                         : color('g-blue-grey', 'darken-1');

$notification-color                                             : 'g-grey';
$notification-success-color                                     : 'green';
$notification-error-color                                       : 'red';
$notification-warning-color                                     : 'yellow';
$notification-infos-color                                       : 'blue';
$notification-pricipal-color-level                              : 'darken-3';
$notification-background-color-level                            : 'lighten-5';
$notification-text-color-level                                  : $notification-pricipal-color-level;
$notification-width                                             : 380px;
$notification-height                                            : 30px;
$notification-font-weight                                       : $roboto-regular;
$notification-top                                               : 40px;
$notification-right                                             : 10px;
$notification-border-left-width                                 : 5px;