<div class="modal-content">
    <h4><i18n word="<%- title %>"></i18n></h4>
    <p class="valign-wrapper">
        <% if (icon) { %>
        <i class="material-icons modal-icon"><%- icon %></i>
        <% } %>
        <i18n class="valign" word="<%- message %>"></i18n>
    </p>
</div>
<div class="modal-footer">
    <a class=" modal-action modal-close waves-effect btn-flat"><i18n word="<%- cancel %>"></i18n></a>
    <a class=" modal-action modal-close waves-effect waves-green btn-flat"><i18n word="<%- accept %>"></i18n></a>
</div>