<div class="modal-content">
    <h4><i18n word="<%- title %>"></i18n></h4>
    <div class="container-fluid">
        <p class="valign-wrapper">
            <i18n class="valign" word="<%- message %>"></i18n>
        </p>
        <% if (hasDoubleVerif) { %>
        <div class="row valign-wrapper">
            <div class="col s8 valign"><i18n word="<%- labelDoubleVerif %>"></i18n></div>
            <material-input
                    class="valign col s4"
                    value="KO"
                    noLabel="true"
                    data-name="verif"
                    ></material-input>
        </div>
        <% } %>
    </div>
</div>
<div class="modal-footer">
    <a class="cancel btn-control-cancel modal-action modal-close waves-effect btn-flat"><i18n word="<%- cancel %>"></i18n></a>
    <a class="accept btn-control-delete modal-action modal-close waves-effect waves-green btn-flat"><i18n word="<%- accept %>"></i18n></a>
</div>