btn-pending {
  button {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: inherit;

    &:focus, &:hover, &:active {
      background-color: transparent;
    }
  }

  spinner {
    position: absolute;
    left: 5%;
    height: 100%;
    margin-right: 10px;
    padding-top: 5px;
  }
}