form.gform {
  .form-content {
    fieldset {
      position: relative;
      margin: 30px 30px 0;
      padding: 0;
      border: none;
      background-color: $form-fieldset-background-color;
      font-size: $form-fieldset-font-size;
      font-weight: $form-fieldset-font-weight;
      color: $form-fieldset-font-color;

      legend {
        position: absolute;
        left: 0;
        top: -20px;

        font-size: $form-legend-font-size;
        font-weight: $form-legend-font-weight;
        color: $form-legend-font-color;
      }
    }
  }
}

// composants
material-checkbox + material-checkbox, material-radio + material-radio {
  margin-left: 10px;
}