.goomeo-notification {
  position: fixed;
  z-index: 9999;
  top: $notification-top;
  right: $notification-right;
  width: $notification-width;
  min-height: $notification-height;
  border-left: $notification-border-left-width solid color($notification-color, $notification-pricipal-color-level);
  background-color: color($notification-color, $notification-background-color-level);
  font-size : 12px;
  font-weight : $notification-font-weight;
  color : color($notification-color, $notification-pricipal-color-level);

  &.success {
    color : color($notification-success-color, $notification-pricipal-color-level);
    background-color: color($notification-success-color, $notification-background-color-level);
    border-color: color($notification-success-color, $notification-pricipal-color-level);
  }

  &.error {
    color : color($notification-error-color, $notification-pricipal-color-level);
    background-color: color($notification-error-color, $notification-background-color-level);
    border-color: color($notification-error-color, $notification-pricipal-color-level);
  }

  &.warning {
    color : color($notification-warning-color, $notification-pricipal-color-level);
    background-color: color($notification-warning-color, $notification-background-color-level);
    border-color: color($notification-warning-color, $notification-pricipal-color-level);
  }
}