.modal {
  border-radius: 0;

  h1,h2,h3,h4 {
    margin-top: 0;
    font-weight: $modal-title-font-weight;
    font-size: $modal-title-font-size;
    color: $modal-title-font-color;
  }

  .modal-content {
    font-weight: $modal-content-font-weight;
    font-size: $modal-content-font-size;
    color: $modal-content-font-color;
    padding: 15px 15px 5px;
  }

  &.small {
    width: 25%;
    .modal-content {
      padding: $modal-small-padding;
    }

    @media #{$medium-and-down} {
      width: 80%;
    }
  }
  &.medium {
    width: 35%;

    @media #{$medium-and-down} {
      width: 80%;
    }
  }

  .modal-footer {
    padding: 0;
  }
}

.lean-overlay {
  background-color: $modal-overlay-color;
  opacity: $modal-overlay-opacity;
}